@import "components/header";
@import "components/video";
@import "components/carrossel";
@import "components/footer";
@import "components/fonts";
@import "components/format_post";
@import "components/archive";
@import "components/single";

.center {
    margin: 0 auto;
    width: 1200px;
}

@media screen and (max-width: 1210px) {
    .center {
        width: 97%;
    }
}
body {
    background-color: #000;
    ul {
        li {
            list-style: none;
        }
    }
}
.h1-hide {
    text-indent: -99999px;
    width: 0;
    height: 0;
    float: left;
}