@import "./components/avariables";
@import "./components/menu";
@import "./components/privacyPolicy";
@import "./components/buttonWhatsapp";


.wow {

    visibility: hidden;
}
.h1-hide {
    text-indent: -99999px;
    width: 0;
    height: 0;
    float: left;
}

@media screen and (max-width: 1185px) {
	

}