.wrapper-archive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .swiper-slide {
         flex-shrink: unset; 
         width: unset; 
         height: unset; 
         position: unset; 
         transition-property: unset;
         align-self: start;
            img {
                display: block;
                width: 195px;
                height: 325px;
                object-fit: cover;
            } 
    }
}
.descriptiom {
    p {
        font-size: 45px;
        color: white;
    }
    .title {
        color: red;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}
.video__archive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
@media screen and (max-width: 768px) {
    .wrapper-archive {
        grid-template-columns: 1fr;
        .swiper-slide {
               img {
                   width: 360px;
               } 
       }
    }
    .video__archive {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}