@font-face {
    font-family: 'CircularSpotifyMedium';
    src: url(../../fonts/CircularSpotifyTxT-Med.woff2) format("woff2");
}
@font-face {
    font-family: 'CircularSpotifyBlack';
    src: url(../../fonts/CircularSpotifyTxT-Black.woff2) format("woff2");
}