header {
    height: 92px;
}
.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .main-manu {
        display: flex;
        gap: 45px;
        li {
            font-family: "CircularSpotifyMedium";
            font-size: 18px;
            font-weight: 600;
            padding: 0;
            a {
                width: 100%;
                height: 100%;
                color: white;
                text-decoration: none;
                &:hover {
                    color: #ff0000;
                }
            }
            }
    }
}

.main-manu-mobile {
    display: none;
}

@media screen and (max-width:1185px) {
    .main-manu-mobile {
        display: block;
        position: fixed;
        bottom: -16px;
        left: 0;
        right: 0;
        display: flex;
        z-index: 999999;
        height: 75px;
        background-color: #000000c7;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding-left: 0;
        li {
            height: 100%;
            font-family: "CircularSpotifyBlack";
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
            }
        }
    }
    .wrapper-header {
        .main-manu {
            display: none;
        }
    }
}