.privacy-policy {
    .privacy-policy__container {
        max-width: 900px;
        width: 95%;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
    }
}